@import "compass"
body
  margin: 0
  font-family: sans-serif

a
  text-decoration: none

nav
  position: fixed
  top: 0
  left: 0
  right: 0
  background: #333
  color: white

  #nav-wrapper
    max-width: 800px
    margin: auto
    padding: 0 20px

    & > *
      display: inline-block
      vertical-align: middle
    h1
      margin: 0 20px 0 0
    ul
      margin: 0
      padding: 0
      li
        display: inline-block
        list-style-type: none
        a
          color: white
          padding: 20px
          box-sizing: border-box
          display: block
          &.active
            background: #005959
            font-weight: bold
          &:hover
            background: #00aaaa

#content
  max-width: 800px
  margin: 60px auto 40px
  text-align: justify
  padding: 20px
  h2
    font-size: .8em