@import "compass"
body
  margin: 0
  font-family: sans-serif

a
  text-decoration: none

@import "header"

#content
  max-width: 800px
  margin: 60px auto 40px
  text-align: justify
  padding: 20px
  box-sizing: border-box

  ul
    padding-left: 15px

  @media screen and (min-width: 500px)
    #role
      h1:first-child
        margin-top: 0
      .badge
        float: left
        margin-right: 20px

.level
  display: inline-block
  margin-bottom: 20px
  @media screen and (max-width: 500px)
    width: 100%
  @media screen and (min-width: 500px)
    width: 50%
  h2
    margin-top: 0
    margin-bottom: 10px
    @media screen and (max-width: 500px)
      font-size: 1.2em
  .badge
    width: 30%
    margin-right: 3%