extends common/layout
block content
    #role
        img(src='/images/roles/' + title + '.png' class="badge")
        form(method="post" action=`${title}/win`)
            button(type="submit"): | Gagner le badge
        div!= description