extends common/layout
block content
    #role
        img(src='/images/roles/' + title + '.png' class="badge")
        form(method="post" id="win" action=`${title}/win`)
            button(type="submit"): | Gagner le badge
        div!= description
        #xp
            - var i = 0
            - var w = 100 / 3
            while i < 3
                .slot(style="width: " + w + "%")
                -i++
    script.
        var roleName="#{title}";
        var emptyRoles=!{roles};
    script(type="module" src="/js/role-front.js")
