/* line 2, ../sass/main.sass */
body {
  margin: 0;
  font-family: sans-serif;
}

/* line 6, ../sass/main.sass */
a {
  text-decoration: none;
}

/* line 1, ../sass/_header.sass */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  color: white;
}
/* line 9, ../sass/_header.sass */
nav #nav-wrapper {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}
/* line 15, ../sass/_header.sass */
nav #nav-wrapper > * {
  display: inline-block;
  vertical-align: middle;
}
/* line 18, ../sass/_header.sass */
nav #nav-wrapper h1 {
  margin: 0 20px 0 0;
  font-size: 1.2em;
}
/* line 22, ../sass/_header.sass */
nav #nav-wrapper ul {
  margin: 0;
  padding: 0;
}
/* line 25, ../sass/_header.sass */
nav #nav-wrapper ul li {
  display: inline-block;
  list-style-type: none;
}
/* line 28, ../sass/_header.sass */
nav #nav-wrapper ul li a {
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: block;
}
/* line 33, ../sass/_header.sass */
nav #nav-wrapper ul li a.active {
  background: #005959;
  font-weight: bold;
}
/* line 36, ../sass/_header.sass */
nav #nav-wrapper ul li a:hover {
  background: #00aaaa;
}

/* line 11, ../sass/main.sass */
#content {
  max-width: 800px;
  margin: 60px auto 40px;
  text-align: justify;
  padding: 20px;
  box-sizing: border-box;
}
/* line 18, ../sass/main.sass */
#content ul {
  padding-left: 15px;
}

/* line 21, ../sass/main.sass */
.level {
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  /* line 21, ../sass/main.sass */
  .level {
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  /* line 21, ../sass/main.sass */
  .level {
    width: 50%;
  }
}
/* line 28, ../sass/main.sass */
.level h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  /* line 28, ../sass/main.sass */
  .level h2 {
    font-size: 1.2em;
  }
}
/* line 33, ../sass/main.sass */
.level .badge {
  width: 30%;
  margin-right: 3%;
}
