html
    head
        title #{title} - Mob RPG
        link(href="/css/main.css" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        nav
            #nav-wrapper
                h1 Mob RPG
                ul
                    li: a(href="/" class=title === "Règles" ? "active": "") Règles
                    li: a(href="/rolesheets" class=title === "Rôles" ? "active" : "") Rôles
        section#content
            block content
